* {
    box-sizing: border-box;
}

.wrap {
    width: 502px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-size: cover;
}